# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/
*.egg-info/
dist/
build/
.pytest_cache/

# Entorno
.env
*.env.local

# Node
node_modules/
dist/
.vite/

# IDE
.vscode/settings.json
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Docker volumes
postgres_data/

# Uploads locales
backend/uploads/

# Logs
*.log
